<div class="about-section">
  <h1>ข้อมูลเกี่ยวกับสมาชิกกลุ่มที่ 3</h1>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/../../assets/วัลลภ.jpg" alt="Jack" style="width:100%">
      <div class="container">
        <h2>wanlop cheewinvipas</h2>
        <p class="title">หน.สน.ปทท.2 กทค.ศทท.สส.ทหาร</p>
        <p>wanlop4554@gmail.com</p>

      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../../assets/ปพน.jpg" alt="Tiw" style="width:100%">
      <div class="container">
        <h2>Papon Intarong</h2>
        <p class="title">พนักงานโทรคมนาคม ปทท.4 กทค.ศทท.สส.ทหาร</p>
        <p>tiwzaza42@hotmail.com</p>

      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../../assets/02.jpg" alt="Art" style="width:100%">
      <div class="container">
        <h2>watanyou wangrad</h2>
        <p class="title">กบ.ทหาร</p>
        <p>watanyou.w@rtarf.mi.th</p>

      </div>
    </div>
  </div>
</div>
